# .replit

run = ["bash", "main.sh"]
entrypoint = "main.sh"

[nix]
channel = "stable-22_11"

[env]
JAVA_HOME = "${pkgs.openjdk8}/lib/openjdk"

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 25577
externalPort = 3000

[workflows]
runButton = "Start Minecraft Server"

[[workflows.workflow]]
name = "Start Minecraft Server"
author = 42846402
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && java -Xmx1G -jar server.jar nogui &"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "sleep 10"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd bungee && java -Xmx512M -jar bungee.jar"
